@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,600&family=Montserrat:wght@200;400;600&display=swap");

* {
  margin: 0px;
  padding: 0px;
}


body {
  font-family: "Josefin Sans", sans-serif;
  color: aliceblue;
  background-repeat: no-repeat;
  background-size: 100%;
}
.app{
  transition-duration: 1s;
}

nav {
  padding: 1vw 0;
  ;
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
  padding: 0;
  width: clamp(50%, 800px, 90%);
  margin: 3vw auto;
}

.logo {
  display: flex;
}

.logo h3 {
  display: flex;
  justify-content: center;
  align-items: center
}

.logoimg img {
  height: 65px;
  width: 65px;
  cursor: pointer;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tittle-day-details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBox {
  display: flex;
  margin-right: 3%;
}

.searchBox input {
  height: 23px;
  width: 100%;
  padding: 10px;
  font-size: larger;
  border: none;
  outline: none;
  color: rgb(17, 16, 16);
  background-color: rgba(255, 255, 255, 0.571);


}


.searchButton button {
  height: 44px;
  width: 100%;
  border-radius: 0px 9px 9px 0px;
  background-color: black;
  color: rgb(186, 193, 199);
  cursor: pointer;
  font-weight: bold;

}

.get:hover {
  background-color: rgb(89, 86, 86);
}

.somedetails {
  padding-top: 2%;
  display: flex;

}

.insideSome {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

.location {
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: center;
  align-items: flex-end;
  font-weight: 400;
}

.temprature {
  padding-top: 1vw;
  display: flex;
  width: 100%;
  justify-content: center;
}

.temprature h1 {
  padding-top: 2vw;
  font-size: 15vh;
}

.tempimg img {
  height: 70px;
  width: 70px;
  cursor: pointer;
  padding-top: 0.6vw;
}

.cOrF {
  font-size: 30px;
  padding: 9% 2%;
}

.feelslike {
  display: flex;
  justify-content: center;
  align-items: center;
}

.above-extra {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}



.fordiv {
  margin-right: 3%
}

.fordiv img {
  height: 30px;
  width: 30px;
  filter: invert(1);
  padding: 29% 29% 12% 29%;
}

.tittle-day-details {
  margin-top: 3%;
  font-weight: 350;
  font-size: 24px;

}

.day-details {
  display: flex;
  justify-content: space-between;
  padding: 3% 2%;
}

.highAndLow {
  max-width: 300px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 1vw 0;
}

.highAndLow h4 {
  font-weight: 400;
  font-size: 20px;
  padding-top: 6%;
}

.highAndLow p {
  font-weight: 300;
  font-size: 18px;
  padding-top: 2%;
}

.sun,
.moon {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 0 1vw 1.5vw 1vw;
}

.moon h4,
.sun h4 {
  padding-top: 2vw;
}

.sunrise,
.sunset,
.moonrise,
.moonset {
  display: flex;
  align-items: center;
  padding-top: 0.6vw;
  font-weight: 300;
  font-size: 18px;
}

.sunrise img,
.sunset img,
.moonrise img,
.moonset img {
  padding-right: 1vw;
  height: 30px;
  width: 30px;
  filter: invert(1);

}

@media only screen and (max-width:600px) {

  nav {
    padding: 3% 1%;
  }

  .logo {
    margin-left: 1%;
  }

  .logoimg img {
    width: 13vw;
    padding-left: 2%;
  }

  .logo h3 {
    display: none;
  }

  .searchBox {
    margin-left: 1%;
    margin-top: 1%;
    width: 50%;
  }

  .searchButton {
    margin-right: 1%;
  }

  .extra-details {
    margin: -16% -24% 4% -3%;
    display: block;

  }

  .fordiv {
    display: block;
    font-size: 16px;
    padding: 2%;
  }

  .cOrF {
    padding: 0% 6%;
  }

  .tempimg img {
    padding-top: 0vw;
  }

  .container2 {
    display: block;
  }

  .highAndLow {
    border-bottom: none;
  }

  .moon {
    border-top: none;
  }

  .sun {
    border-radius: 0;
  }
}

@media only screen and (max-width: 820px) and (min-width: 600px) {
  .logo h3 {
    font-size: 3vw;
    padding-top: 1.4vw;
  }

  .feelslike p {
    font-size: 5vw;
  }

  .fordiv {
    font-size: 1.6vw;
    padding: 2%;
  }
}